body{
    background: #404040;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.panel-body {
    height: 87vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 210px auto;
    grid-template-rows: 94px 85vw;
    grid-template-areas:
            "h1 h2"
            "aside table";
}

h1 {
    grid-area: h1;
    background: #1C1C1C;
    margin: 0;
    text-align: center;
    padding: 28px 0;
    font-size: 28px;
}

h2 {
    grid-area: h2;
    background: #1C1C1C;
    margin: 0;
    padding: 28px 0 0 30px;
    font-size: 28px;
}

.icons {
    grid-area: icons;
    background: #1C1C1C;
    margin: 0;
    text-align: center;
    padding: 28px 0;
}

aside {
    grid-area: aside;
    height: 100vh;
    background: #2B2B2B;
    margin: 0;
    text-align: center;
    padding: 28px 0;
}

.studentListTable {
    grid-area: table;
    border-spacing: 0;
    margin: 30px 30px 0 30px;
}

th {
    background: #1C1C1C;
    padding: 30px 0 16px 0;
    border-bottom: 1px solid #FB8218;
}

.add-border {
    border-bottom: 1px solid #707070;
    padding: 0 10px;
}

.sortByButton > .add-border, .filterByButton > .add-border {
    border-bottom: 1px solid #FB8218;
    padding: 0 10px;
}

td {
    padding: 20px;
    background: #262626;
    text-align: center;
    border-bottom: 1px solid #707070;
}


/* style dropdown menu - filter and sort by */
.dropDown {
    position: relative;
}

.sortByButton {
    color: white;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
}

.dropDown-content {
    display: none;
    position: absolute;
    background-color: #1C1C1C;
    min-width: 110px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 21px 0 19px 0;
}
.dropDown-content > div {padding: 9px;}
.dropDown-content > div:hover {color: #FB8218; cursor: pointer;}

div#sortByButtons {margin-left: 3vw;}

.filterByButton {
    color: white;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
}

div#filterButtons {margin-left: 3vw;}


.sortByButton:hover {color: #FB8218; cursor: pointer;}
.filterByButton:hover {color: #FB8218; cursor: pointer;}

.dropDown:hover .dropDown-content {display: block;}

/* Main menu details value */
.details-value {
    color: #FB8218;
}

/* Display modal */
.showModalButton {
    color: white;
    font-family: 'Roboto', sans-serif;
    background: #101010;
    border-radius: 21px;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 8px 19px;
}

.showModalButton:hover {background: #FB8218; cursor: pointer;}

/* main menu collapsible */
.collapsible-content {
    display: none;
}

.select-class-collapsible {
    color: white;
    width: 100%;
    background: #101010;
    padding: 34px 0;
    margin-top: -28px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #707070;
    font-size: 22px;
}

.add-new-class-collapsible {
    width: 100%;
    background: #101010;
    padding: 34px 0;
    font-size: 22px;
}

.select-class-collapsible:hover {background: #FB8218; cursor: pointer;}
.add-new-class-collapsible:hover {background: #FB8218; cursor: pointer;}

.class1 {
    width: 100%;
    background: #603CF5;
    padding: 18px 0;
    font-size: 22px;
    border-bottom: 1px solid #707070;
}

.class-options {
    font-size: 17px;
    padding: 14px 5px;
    text-align: start;
    margin-left: 23px;
    margin-right: 23px;
}

.add-border1 {
    border-bottom: 1px solid #707070;
    padding: 0 10px;
}

.class-options:hover {color: #FB8218; cursor: pointer;}

.details-content {
    padding: 10px 0;
    background: #3B3B3B;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 84px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContent {
    width: 500px;
    height: 740px;
    background: #262626;
    margin-left: 25%;
    text-align: center;
    color: white;
}

.close {
    float: right;
    margin: 1vw;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.close:hover {
    cursor: pointer;
    color: #FB8218;
}

.modal-table  {
    border-spacing: 0;
    width: 90%;
    margin-left: 24px;
}

td#modal {
    text-align: start;
}

.test1 {
    background: #04AC25;
    width: 30px;
}

/* Responsive */


@media (max-width: 1300px) {
    .house-prefect {
        display: none!important;
    }
}

@media (max-width: 1120px) {
    .gender {
        display: none!important;
    }
    .blood {
        display: none!important;
    }
}

@media (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 210px auto;
        grid-template-rows: 94px 94px 85vw;
        grid-template-areas:
                "h1 h2"
                "aside aside"
                "table table";
    }
    aside {
        grid-area: aside;
        background: #2B2B2B;
        margin: 0;
        text-align: center;
        padding: 28px 0 0 0;
        display: flex;
    }
    .select-class-collapsible {
        color: white;
        width: 17vw;
        height: 25px;
        background: #101010;
        border-top: none;
        border-left: none;
        border-bottom: none;
        font-size: 22px;
        border-right: 1px solid #707070;
    }

    div.collapsible-content {
        display: none;
        margin-top: -27px;
    }
    .add-new-class-collapsible {
        width: 17vw;
        height: 25px;
        background: #101010;
        padding: 34px 0;
        font-size: 22px;
        z-index: 1;
        margin-top: -28px;
    }
    .panel-body table.flex-table {
        display: flex;
        flex-direction: column;
        height: 86vh;
        width: 94vw;
    }

}

/**/
/**/
/**/
/* table layout source: https://codepen.io/tfzvang/pen/WQBwVo */
.panel-body {
    padding: 0;
}
.panel-body.panel-regular-table {
    overflow-y: auto;
}
.panel-body table.flex-table {
    display: flex;
    flex-direction: column;
    height: 86vh;
}
.panel-body table.flex-table thead,
.panel-body table.flex-table tbody {
    display: block;
}
.panel-body table.flex-table thead {
    margin-right: 0;
}
.panel-body table.flex-table tbody {
    flex: 1;
    overflow-y: scroll;
}
.panel-body table.flex-table tr {
    width: 100%;
    display: flex;
}
.panel-body table.flex-table tr td,
.panel-body table.flex-table tr th {
    display: block;
    flex: 1;
}
.panel-body table.flex-widths.flex-table-aligned thead > tr {
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel-body table.flex-widths tr td:nth-child(2), .panel-body table.flex-widths tr th:nth-child(2) {
    flex: 3;
}
.panel-body table.flex-widths tr td:nth-child(4), .panel-body table.flex-widths tr th:nth-child(4) {
    flex: 2;
}
/**/
/**/
/**/